<!DOCTYPE html>
<html>
    <head>
        <title>Shop Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>               
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">My Web App</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="shop">Shop</a></li>
                        <!-- <li><a href="#">Page 2</a></li>
                        <li><a href="#">Page 3</a></li> -->
                      </ul>
                    </div>
                  </nav>
        
                  <div class="container">
                        <h2>SmartPhones For Sale</h2>
                        <br><br><br>
                        <div class="list-group">
                          {% for p in phones %}
                          <a href="#" class="list-group-item">{{p}}</a>
                          {% endfor %}
                        </div>
                        
                      </div>

                      
                      
        
                      
    </body>
</html>